
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("years", "years") <br />

@Html.ActionLink("categories", "categories")<br />

@Html.ActionLink("teams", "teams")<br />

@Html.ActionLink("clubs", "clubs")<br />

@Html.ActionLink("tournaments", "tournaments")<br />

@Html.ActionLink("matches", "matches")<br />

@Html.ActionLink("players", "players")<br />
